a(href="#").c-hamburger.c-hamburger_nav#hamburger
    .c-hamburger__icon
        span.c-hamburger__el.c-hamburger__el-top
        span.c-hamburger__el.c-hamburger__el-middle
        span.c-hamburger__el.c-hamburger__el-middle_2
        span.c-hamburger__el.c-hamburger__el-bottom


//.c-hamburger_active
