extends ../_template

block content
    .wrapper.l-section_bg
        .content
            .c-block-bg.c-mouse-parallax#paralax
                //video.c-mouse-parallax__item.c-mouse-parallax__item_video(src="/assets/img/night.mp4" autoplay loop)
                .c-bg.c-bg_stars
                .c-bg.c-bg_twinkling
                .c-bg.c-bg_clouds
                img.c-mouse-parallax__item.c-mouse-parallax__item_pic(src="/assets/img/bg/bg_portfolio.png")
            header.l-header-index
                a.c-block-link_to-avtor(href='#')
                    span.c-block-link__front Авторизоваться
                    span.c-block-link__back На главную
            .flip-container
                .flipper
                    .c-bloch-height
                    .c-block-info#front
                        include partails/_header_insides
                        +user("Валерия Калинина", "Личный сайт веб разработчика")

                        +socialIcons("socials_index")
                        +nav('block-info', [["Мои работы", "work"], ["Обо мне", "about"], ["Блог", "blog"]], '')

                    .c-block-info#back
                        form.c-form-avtor#login
                            .c-form-avtor__container
                                .c-form-avtor__content
                                    .c-block-title.c-block-title_white Авторизуйтесь
                                    .c-form-avtor__status
                                    fieldset.c-form-avtor__fieldset
                                        .c-form-avtor__input-wrapper.c-form-avtor__input-wrapper_login
                                            input.c-form-avtor__input(placeholder="Логин" name="login" type="text")
                                        .c-form-avtor__input-wrapper.c-form-avtor__input-wrapper_password
                                            input.c-form-avtor__input(placeholder="Пароль" name="password" type="password")

                                    fieldset.c-form-avtor__fieldset
                                        input(type="checkbox" name="man").c-form-avtor__checkbox#i-man
                                        label.c-form-avtor__label.c-fom-avtor__label_checkbox(for="i-man") Я человек

                                    fieldset.c-form-avtor__fieldset
                                        legend.c-form-avtor__legend Вы точно не робот?

                                        input(type="radio" name="robot").c-form-avtor__radio#yes
                                        label.c-form-avtor__label.c-fom-avtor__label_radio(for="yes") Да

                                        input(type="radio" name="robot").c-form-avtor__radio#hz
                                        label.c-form-avtor__label.c-fom-avtor__label_radio(for="hz") Не уверен
                                .c-form-avtor__footer
                                    //a.c-form-avtor__button#go-home(href="#") Перейти на главную
                                    button.c-form-avtor__button(type="submit" value="Войти") Войти

        footer.l-footer.l-footer-small © #{userName} | создано с любовью в LoftSchool | 2017







